.navbar{
    display: flex;
    margin: 50px 100px;
    background-color: rgb(214, 12, 12);
    height: 50px;
    align-items: center;
    color: rgb(4, 11, 17);
    font-family: 'Nunito', sans-serif;
    border-radius: 10px 50px;
    justify-content: space-between;
    border: solid gray 2px;
    
}

.navbar_logo{
    width: 150px;
    height: 125px;
    z-index: 1;
    margin-left: 50px;
    border-radius: 10px 30px;
    border: solid gray 2px;

}



.icon {
    color: white;
    font-size: 30px;
    text-decoration: none;
    align-items: center;
    display: flex;

}

span{
    margin-left: 70px;
    margin-right: 5px;
    color: white;
    font-size: 20px;
    
    
}

.itemsContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    
}

.searchBar {
    margin-right: 10px;
    color: white;
    display: flex;
    
}

.searchGlass{
    font-size: 26px;
}

.inputSearch {
    width: 280px;
    height: 30px !important;
    border: none;
    border-radius: 6px;
    margin-right: -15px;
}

.hamburger {
    width: 32px;
    height: 25px;
    color: rgb(150, 144, 144);
    margin-right: -80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: red;
    cursor: pointer;
    

    border: solid 2px;
    padding: 10px;
    border-radius: 5px;

    
}

span.lines {
    width: 100%;
    height: 3px;
    background-color: white;
    transform-origin: left;
    transition: all 2s ease;
    margin-left: 0px;
    
    
}



nav.active {

background: rgb(130, 130, 134);

color: white;


}
 
nav.active .hamburger span .lines:first-child {
    background-color: rgb(249, 246, 246);
        transform: rotate(45deg);
}

nav.active .hamburger span .lines:nth-child(2) {
    opacity: 0;
}

nav.active .hamburger span .lines:last-child {
    background-color: white;
    transform: rotate(-45deg);
}

    

    